##################################################
# Build Folders
##################################################
bin/
obj/
out/

##################################################
# Visual Studio 2022 / 2026
##################################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.pdb
*.VC.db

##################################################
# Rider
##################################################
.idea/
*.sln.iml

##################################################
# VS Code
##################################################
.vscode/

##################################################
# NuGet
##################################################
*.nupkg
packages/
.nuget/
project.assets.json
project.nuget.cache

##################################################
# Logs
##################################################
*.log

##################################################
# OS files
##################################################
.DS_Store
Thumbs.db

##################################################
# ASP.NET Core / Publish
##################################################
publish/
wwwroot/dist/
wwwroot/build/

##################################################
# Test
##################################################
TestResults/
coverage/

##################################################
# Azure
##################################################
.azure/

##################################################
# Secrets (IMPORTANT)
##################################################
appsettings.Development.json
appsettings.Local.json
secrets.json

##################################################
# Docker
##################################################
docker-compose.override.yml
